.mainbody{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ff8ba0;
  padding-bottom: 50px;

}
h1{
  font-size: 38px;
  color: #86003c;
  
}

input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  text-align: center;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: antiquewhite;
  color: #e41f7b;
  font-family: Arial, Helvetica, sans-serif;
}

.ip1{
  padding-right: 10px;
}
.ip2{
  padding-right: 52px;
}
.ip3{
  padding-right: 50px;
}
.ip4{
  padding-right: 35px;
}
.ip5{
  padding-right: 26px;
}
.ip6{
  padding-right: 24px;
}

input.op{
width: 300px;
}

select.op{
  width: 300px;
}

label{
  color: #86003c ;
}





input[type=submit] {
  background-color: #e41f7b;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  border-radius: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 22px;
}

select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 15px;
  background-color: antiquewhite;
  color: #696969;
  font-family: Arial, Helvetica, sans-serif;
}


.container{
  background-color: #ff8ba0;
  border-style: hidden;
  border-radius: 15px;
  padding:18px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
  
 
  
}
@media screen and (max-width:900px){

    .main-contianer{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-evenly; 
      
    }
  
  }

